amqp==5.3.1
asgiref==3.10.0
babel==2.17.0
bcrypt==5.0.0
billiard==4.2.2
celery==5.5.3
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cryptography==46.0.3
customtkinter==5.2.2
darkdetect==0.8.0
distlib==0.4.0
Django==3.2.1
django-filter==25.2
django-markdownx==4.0.9
django-sslserver==0.22
django-widget-tweaks==1.5.1
djangorestframework==3.17.1
et_xmlfile==2.0.0
filelock==3.20.0
gunicorn==25.1.0
idna==3.15
kombu==5.5.4
Markdown==3.10.2
numpy==2.3.4
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pillow==12.0.0
platformdirs==4.5.0
prompt_toolkit==3.0.52
psycopg2==2.9.13
psycopg2-binary==2.9.11
pycparser==2.23
PyMySQL==1.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
reportlab==4.4.5
requests==2.34.2
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tkcalendar==1.6.1
tzdata==2025.2
urllib3==2.7.0
vine==5.1.0
virtualenv==20.35.4
wcwidth==0.2.14
wheel==0.45.1
whitenoise==6.11.0
